main {
    position: fixed;
    right: 0;
    width: calc(100% - 300px);
    height: 100dvh;
    background-color: rgba(230, 230, 230, 0.315);

    & .header {
        margin-block: 30px;
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & h1 {
            font-size: 30px;
            margin-left: 20px;
        }

        & #agendarBtn {
            padding-block: 13px;
            padding-inline: 15px;
            font-size: 14px;
            width: 200px;
            height: fit-content;
            background-color: black;
            color: white;
            font-weight: bold;
            display: flex;
            align-items: center;
            gap: 10px;
            border-radius: 5px;
            border: 1px solid gray;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover {
                background-color: rgba(128, 128, 128, 0.281);
            }

            & #icon {
                background-color: white;
                margin-left: 5px;
        }
    }   
    }
     & .containerCards {
        width: 100%;
        display: flex;
        justify-content: space-around;
        
        & .div {
            position: relative;
            width: 470px;
            height: 130px;
            padding: 8px;
            border: 2.3px solid rgba(78, 78, 78, 0.315);
            border-radius: 5px;
            display: flex;
            align-items: center;
            background-color: white;
            
            & .info {
                
                & h2 {
                    font-size: 20px;
                }
                
                & h1  {
                    font-size: 20px;
                    color: rgb(63, 63, 63);
                }
            }

            & .iconCard{
                position: absolute; 
                top: 20px;
                right: 15px;
            }
        }
     }
     & .containerNextCheckouts {
        width: 95%;
        height: 500px;
        padding: 10px;
        margin-block: 40px;
        margin-inline: auto;
        background-color: white;
        border: 2.3px solid rgba(78, 78, 78, 0.315);
        border-radius: 10px;

          & small {
            padding-block:20px ;
            font-size: 16px;
            text-indent: 10px;
          }

          & .containerCheckouts {
            width: 100%;
            height: 100%;
            margin-top: 20px;
            display: flex;
            flex-flow: column nowrap;
            gap: 10px;
            overflow-y: auto;

            & .checkout {
                width: 100%;
                height: 100px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 2.3px solid rgba(78, 78, 78, 0.315);
                border-radius: 5px;
                background-color: white;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: rgba(128, 128, 128, 0.281);
                }

                & .title {
                    display: flex;
                    gap: 20px;
                    
                    & .circle {
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                        background-color: gray;
                    }

                    & .text {

                        & h1 {
                            font-size: 20px;
                        }
                    }
                }

                & .info {
                    display: flex;
                    gap: 15px;
                    align-items: center;

                    & .state  {
                        text-align: center;
                        width: 120px;
                        font-size: .9rem;
                        font-weight: bold;
                        padding: 5px;
                        border-radius: 100px;
                        
                    }

                    & .n1 {
                        color: green;
                        background-color: rgba(2, 190, 2, 0.623);
                    }

                    & .n2 {
                        color: rgb(255, 255, 0);
                        background-color: rgba(218, 203, 3, 0.623);
                    }

                    & .n3 {
                        color: rgb(173, 2, 2);
                        background-color: rgba(252, 5, 5, 0.623);
                    }
        
                }

            }
          }
        }
}